@{
    ViewBag.Title = "Kontakt";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
   
</hgroup>
<div>
    <address>
        Adrian Laszczka<br />
      
        <abbr title="Phone">Numer telefonu:</abbr>
        54984248949
    </address>


</div>